Repository ndbroadbent/local-wikidata: changes, and which lefthook commands are due for each by the changed paths.
All: format-backend, format-frontend, lint-backend, lint-frontend

lefthook.yml:

# Git hooks managed by Lefthook
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format-backend:
      glob: "backend/**/*.py"
      run: cd backend && uv run ruff format --check .
    
    format-frontend:
      glob: "frontend/**/*.{ts,svelte}"
      run: cd frontend && bun run format:check
    
    lint-backend:
      glob: "backend/**/*.py"
      run: cd backend && uv run ruff check .
    
    lint-frontend:
      glob: "frontend/**/*.{ts,svelte}"
      run: cd frontend && bun run lint

pre-push:
  commands:
    # CRITICAL: Scan for secrets before pushing to public repo
    secrets:
      run: |
        if command -v trufflehog &> /dev/null; then
          trufflehog git file://. --since-commit HEAD~1 --fail --no-update
        else
          echo "⚠️  TruffleHog not installed. Install with: brew install trufflehog"
          echo "    Skipping secrets scan - INSTALL TRUFFLEHOG FOR SECURITY"
        fi
    
    typecheck:
      run: task typecheck
    
    test:
      run: task test

fix: Correct README path in backend pyproject.toml
  backend/pyproject.toml
Due: none

fix: Backend package config and frontend prettier versions
  backend/pyproject.toml
  frontend/package.json
Due: none

fix: Pin prettier-plugin-svelte to 3.1.2 for Svelte 4 compatibility
  frontend/package.json
Due: none

fix: Use prettier 3.0.3 with matching plugin versions
  frontend/bun.lock
  frontend/package.json
  frontend/src/routes/+page.svelte
Due: format-frontend, lint-frontend

fix: Add eslint config for frontend and fix backend import order
  backend/src/main.py
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/package.json
Due: format-backend, lint-backend

fix: Add type parameters to dict returns and placeholder test
  backend/src/main.py
  frontend/src/lib/placeholder.test.ts
Due: format-backend, format-frontend, lint-backend, lint-frontend

feat: Add core importer with resume support (#136)
  backend/src/__main__.py
  backend/src/cli.py
  backend/src/config.py
  backend/src/database.py
  backend/src/importer.py
  backend/src/schema.py
  backend/tests/test_importer.py
Due: format-backend, lint-backend

style: Format importer.py
  backend/src/importer.py
Due: format-backend, lint-backend

fix: Add explicit type annotations for mypy strict mode
  backend/src/importer.py
Due: format-backend, lint-backend

docs: Add README screenshot with search results
  README.md
  backend/uv.lock
  docs/screenshot.jpg
Due: none

Add Docker build config and Woodpecker CI
  .woodpecker.yaml
  docker/Dockerfile.backend
Due: none

Fix Dockerfile: use Python healthcheck (curl not in slim), pin uv version
  docker/Dockerfile.backend
Due: none
